# Batch package
batch-fetch-and-run.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Checkpoints and logs
checkpoints/

# Data files and folders
data/**
!data/**/
**/*/.gif
**/*/.png
image/


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# vscode
.vscode

var/

logs/
